html, body {
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
}

button {
    font-size: 15px;
    font-weight: bolder;
    color: ghostwhite;
    background-color: navy;
    margin: 15px;
    padding: 10px;
    border: navy;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

h1, h2 {
    text-align: center;
    color: navy;
}

h1 {
    font-size: 50px;
}

.total-weeks-box {
    margin-top: 20px;
    padding: 10px;
    background-color: navy;
    border: navy;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: ghostwhite;
}

#bot {
    position: fixed;
    bottom: 15px;
    right: 15px;
    max-width: 220px;
    background: navy;
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
    word-wrap: break-word;
    white-space: normal;
}
